.navigation {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: white;
  bottom: 0;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.26);
  left: 0;
  position: fixed;
  top: 64px;
  z-index: 100;
}

.list {
  flex-grow: 1;
  overflow-y: auto;
}

.active {
  background-color: #eee;
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 6.4rem;
  padding-left: 200px;
}